.txtNonSelectionable {
  -webkit-user-select: none;
  -webkit-touch-callout: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

body {
  background-color: #FBCF82;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 15%;
}

.text {
  font-size: 70px;
}

#strings {
  margin-left: 10px;
}

#blinker {
  animation: blinker 1s linear infinite;
}

@keyframes blinker {
  50% {
    
    opacity: 0;
  }
}

